/* You can add global styles to this file, and also import other style files */

.my-swal-popup {
    border-radius: 14px;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .my-confirm-button {
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 6px;
  }
  
  .my-cancel-button {
    font-weight: normal;
    background-color: #eeeeee !important;
    color: #333 !important;
    border-radius: 6px;
  }
  